[submodule "SGDK_Engines/Awesome_MegaDrive"]
	path = SGDK_Engines/Awesome_MegaDrive
	url = https://github.com/And-0/awesome-megadrive.git
[submodule "SGDK_Engines/Blast-Engine"]
	path = SGDK_Engines/Blast-Engine
	url = https://github.com/kubilus1/blast.git
[submodule "SGDK_Engines/HAMOOPIG-SGDK"]
	path = SGDK_Engines/HAMOOPIG-SGDK
	url = https://github.com/humbertodias/sgdk-HAMOOPIG.git
[submodule "SGDK_Engines/MDSDRV"]
	path = SGDK_Engines/MDSDRV
	url = https://github.com/superctr/MDSDRV.git
[submodule "SGDK_Engines/SGDK-source"]
	path = SGDK_Engines/SGDK-source
	url = https://github.com/Stephane-D/SGDK.git
[submodule "SGDK_Engines/SGDK_MegaDriving"]
	path = SGDK_Engines/SGDK_MegaDriving
	url = https://github.com/radioation/MegaDriving.git
[submodule "SGDK_Engines/SGDK_PlatformerEngine"]
	path = SGDK_Engines/SGDK_PlatformerEngine
	url = https://github.com/GerardGascon/PlatformerEngine.git
[submodule "SGDK_Engines/TaiketsuUltraHeroGenesis/src"]
	path = SGDK_Engines/TaiketsuUltraHeroGenesis/src
	url = https://github.com/guilhermesousa03/TaiketsuUltraHeroGenesis.git
[submodule "SGDK_Engines/UltraDrive"]
	path = SGDK_Engines/UltraDrive
	url = https://github.com/jvisser/UltraDrive.git
