// Exemplo pedagogico de declaracao de recursos SGDK.
// Copie para resources.res quando tiver arquivos reais prontos em res/.
//
// IMAGE bg_title "bgs/bg_title.png" BEST
// SPRITE spr_player "sprites/spr_player.png" 4 4 FAST 5
