# Conteudo MUGEN de terceiros convertido pelo mugen2sgdk_forge: uso local autorizado,
# redistribuicao NAO verificada. Regenerar com:
#   python3 -m mugen2sgdk_forge convert-char <pacote> --id <id> --project .
res/mugen/
res/mgres_*.res
res/mgres_*.h
src/mg_gen/
inc/mg_gen/

# builds auxiliares (perfil) contem dados derivados de terceiros
out_prof/
out_test/
